@media (max-width: 768px) {
    .submitButton_wrapper {
        display: flex;
        justify-content: center;

        p {
            display: flex;
            justify-content: center;
        }
    }

    .contactPage_contactForm p {
        padding-bottom: 0 !important;
        padding-top: 10px;
    }

    .wpcf7-spinner {
        display: none;
    }

    .aboutUs_cards__title {
        font-size: 20px !important;
    }

    .thentwrktheme_header__menuMobile {
        font-size: 36px;

        .header-menu {
            text-align: center;
        }
    }

    .footerRight_socialMedia img {
        margin-right: 10px !important;
        margin-left: 10px;
    }
    
    .thentwrkTheme_title {
        font-size: 36px !important;
    }

    .connectAndJoin_getInTouch__button {
        display: flex;
        justify-content: center;
    }

    .connectAndJoinSection_cardTitle {
        font-size: 32px !important;
    }

    .homepageOverview_ourProjects__span {
        display: flex;
        justify-content: center;
    }

    .ourProejcts_getInTouch__button {
        display: flex;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    video {
        top: -5% !important;
    }

    .owl-nav, .owl-dots {
        display: none;
    }

    .projectCategories_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-wrapper > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .grid-wrapper {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 100px;
        grid-auto-flow: dense;
    }

    .grid-wrapper .projectPosts_post__card-0,
    .grid-wrapper .projectPosts_post__card-9,
    .grid-wrapper .projectPosts_post__card-18,
    .grid-wrapper .projectPosts_post__card-27,
    .grid-wrapper .projectPosts_post__card-1,
    .grid-wrapper .projectPosts_post__card-10,
    .grid-wrapper .projectPosts_post__card-19,
    .grid-wrapper .projectPosts_post__card-28,
    .grid-wrapper .projectPosts_post__card-2,
    .grid-wrapper .projectPosts_post__card-11,
    .grid-wrapper .projectPosts_post__card-20,
    .grid-wrapper .projectPosts_post__card-29,
    .grid-wrapper .projectPosts_post__card-3,
    .grid-wrapper .projectPosts_post__card-12,
    .grid-wrapper .projectPosts_post__card-21,
    .grid-wrapper .projectPosts_post__card-30,
    .grid-wrapper .projectPosts_post__card-4,
    .grid-wrapper .projectPosts_post__card-13,
    .grid-wrapper .projectPosts_post__card-22,
    .grid-wrapper .projectPosts_post__card-31,
    .grid-wrapper .projectPosts_post__card-5,
    .grid-wrapper .projectPosts_post__card-14,
    .grid-wrapper .projectPosts_post__card-23,
    .grid-wrapper .projectPosts_post__card-32,
    .grid-wrapper .projectPosts_post__card-6,
    .grid-wrapper .projectPosts_post__card-15,
    .grid-wrapper .projectPosts_post__card-24,
    .grid-wrapper .projectPosts_post__card-33,
    .grid-wrapper .projectPosts_post__card-7,
    .grid-wrapper .projectPosts_post__card-16,
    .grid-wrapper .projectPosts_post__card-25,
    .grid-wrapper .projectPosts_post__card-34,
    .grid-wrapper .projectPosts_post__card-8,
    .grid-wrapper .projectPosts_post__card-17,
    .grid-wrapper .projectPosts_post__card-26,
    .grid-wrapper .projectPosts_post__card-35 {
        grid-column: span 4 !important;
        grid-row: span 3 !important;
    }

    .cat-list_item {
        font-size: 14px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        border: 1px solid white;
        border-radius: 40px;

    }

    .singleCredentials_role {
        min-width: 150px !important;
    }

    .lineArt {
        display: none;
    }

    .thentwrkTheme_title {
        line-height: 44px !important;
        font-size: 28px !important;
    }

    .homepage_overview__title {
        font-size: 30px !important;
        line-height: 46px !important;
    }

    .sc-slide {
        margin-right: 70px !important;
    }

    .cursor-blob {
        display: none !important;
    }

    .homepage_lineArt__top {
        display: none;
      }
      
    .homepage_lineArt__bottom {
        display: none;
    }
}

@media (max-width: 400px) {
    .owl-item {
    }
}
